<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <p>Talkin' Tech</p>
            </h1>

            <nav>
                {{#if loggedIn}}
                <a href="/" class="homepage">Home</a>
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn">Log Out</button>
                {{else}}
                <a href="/" class="homepage">Home</a>
                <a href="/login" class="homepage">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
</body>
</html>